.tpReleaseList {
	font-family: Calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}

.tpReleaseList > ul, .tpReleaseList > ol {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
}

.tpReleaseList .tpRelease > a {
	margin: 4px;
	margin-right: 12px;
	margin-left: 12px;
	background-color: transparent !important;
	z-index: 2;
}

.tpReleaseList .tpRelease > a:hover {
	margin: 4px;
	margin-right: 12px;
	margin-left: 12px;
	background-color: transparent !important;
	z-index: 2;
}

.tpReleaseList .tpReleaseSelected > a {
	margin: 4px;
	margin-right: 12px;
	margin-left: 12px;
	background-color: transparent !important;
	z-index: 2;
}

.tpReleaseList .tpRelease .tpShine {
	display: none;
}

.tpReleaseList .tpRelease .tpInfo {
	z-index: 2;
	margin: 0;
}

.tpReleaseList .tpRelease .tpTile {
	z-index: 2;
}

.tpReleaseList .tpRelease .tpInfo .tpThumbnail {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	z-index: 2;

}

.tpReleaseList .tpRelease .tpInfo .tpMetadata {
	margin: 0;
	z-index: 4;
	background-color: transparent;
	border: 0px solid;
	position: relative;
	border: 0px solid transparent;
	padding: 1px 1px 1px 0;
	left: -1px;
}

.tpReleaseList .tpRelease .tpInfo .tpMetadata .tpGroup {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


.tpReleaseList .tpRelease .tpTile .tpThumbnail {
	margin: 1px;
	margin-bottom: 1px;
	z-index: 2;
}

.tpReleaseList .tpRelease .tpTile .tpMetadata {
	margin: 1px;
	z-index: 4;
	background-color: transparent;
}

.tpReleaseList .tpRelease .tpTitle {
	margin: 0px;
	padding: 4px;
	font-size: 14px;
}

.tpReleaseList .tpRelease .tpTitle .tpDuration {
	font-size: .75em;
	font-weight: normal;
}


.tpReleaseList .tpRelease .tpThumbnail
{
	position: relative;
}

.tpReleaseList .tpReleaseSelected .tpThumbnail .tpThumbnailOverlay
{
	display: none;
}

.tpReleaseList .tpRelease .tpThumbnail .tpThumbnailOverlay
{
	width: 25px;
	height: 25px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAB0zAAAdMwBoN9knQAAABR0RVh0Q3JlYXRpb24gVGltZQA1LzQvMTAQ6pb2AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M0BrLToAAAAKNJREFUSInl1MENQVEQheF5RAFUoAWJDijCXgHaUIVoxIoG7GysqcD2s7qx4b2EO4nwFzD/3Jx7poHIJlsCvUxB4Q8k6GFSxdIWPM7YYfrR/A7J0YMNxtkSuGGNYaakcMEKg0xJ4YRFtqSwxwz9TElh+UxSq4yHiJhHxPbVtl+byVXi7yo9GXUNf1eS1vjc26XSFe58SQ1q9qSV35E02ZlERNwBuOfzOGmNE2QAAAAASUVORK5CYII=);
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.tpHeader, .tpPlayer, .tpClipInfo, .tpCategoryList, .tpSearch, .tpNavigation, .tpReleaseList, .tpReady {
	font-family: Calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.tpClipInfo .tpBackground {
	display: none;
}

.tpClipInfo {
	background-color: transparent !important;
}

.tpPlayer .tpBackground {
/*	display: none; */
}

.tpPlayer .player {
	margin: 0;
}

.tpNavigation .tpBackground {
	margin: 0px 0px 0px 0px;
}

.tpNavigation .tpBackgroundShine, .tpSearch .tpBackgroundShine {
	margin: 1px 1px 1px 1px;
}

.tpNavigation .tpGroup {
	width: auto;
	margin: 1px 8px 1px 8px;
	background-color: transparent !important;
}

.tpNavigation .tpPreviousRange {
	width: 20px;
}

.tpNavigation .tpPreviousRange.tpDisabled {
	cursor:default;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.tpNavigation .tpPreviousRange span {
	
	text-indent:-3000px;
}

.tpNavigation .tpNextRange {
	width: 20px;
}

.tpNavigation .tpNextRange.tpDisabled {
	cursor:default;
	opacity:0.5;
	filter:alpha(opacity=50);
}

.tpNavigation .tpNextRange span {
	
	text-indent:-3000px;
}

.tpNavigation .tpRangeInfo {
	font-size:14px;
	line-height: 16px;
	right: 20px;
	left: 20px;
	background-color: transparent !important;
}

.tpReleaseList {
	background-color: transparent !important;
}

.tpReleaseList .tpBackground {
	display: none;
}

.tpNavigation .tpBackground {
	position:absolute;
	left:0px;
	top:0px;
	
	width:100%;
	height:100%;
	
	opacity:0.5;
	filter:alpha(opacity=50);
}


.tpReleaseList {
	z-index:101;
}              

.tpSearch .tpSearchSubmit {
	width: 28px;
}

.tpSearch .tpTextInputContainer {
	margin: 1px;
	margin-right: 28px;
}

.tpSearch .tpTextInput {
	font-size: 14px;
	font-family: Calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-indent: 3px;
	display: block;
}

.tpSearch .tpLabel {
	padding-top: 1px;
	font-size: 14px;
	font-family: Calibri, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.tpSearch .tpSearchSubmit.tpDisabled, .tpSearch .tpSearchReset.tpDisabled  {
	display: none;
}

.tpSearch .tpSearchSubmit span {
	
	height: 100%;
	width: 100%;
	cursor:pointer;
	text-indent:-3000px;
	display:inline-block;
	overflow:hidden;
}

.tpSearch .tpSearchReset {
	width: 28px;
}

.tpSearch .tpSearchReset span {
	
	height: 100%;
	width: 100%;
	cursor:pointer;
	text-indent:-3000px;	

	display:inline-block;
	overflow:hidden;

}

.tpSearch .tpBackground {
	position:absolute;
	left:0px;
	top:0px;
	
	width:100%;
	height:100%;
	
	opacity:0.5;
	filter:alpha(opacity=50);
}

.tpFullScreen{
position:absolute;
float: right;
}
.tpCC{
float: right;
}
.tpVolume{
float: right;	
}
.tpBottomRegion {
padding-top: 5px;
padding-bottom: 5px;
}

.tpContainer {
position: relative;
width: 100%;
height: 100%;
background-image: url(http://pdk.theplatform.com/images/tile.jpg);
background-position: top;
background-repeat: repeat;
margin-left: auto;
margin-right: auto;
padding: 0px;
}