{% extends "_base.html" %}

{% block content %}
	{% include '_nav.html' %}
	<div id="header">
	</div>
	<div class="content">
		<div class="content-inner">
			{{post.content}}
		</div>
	</div>
	<div id="pagination">
	</div>
{% endblock %}

{% block scripts %}
	<script>
	
	    var title = "{{ post.title }}";

		ReactDOM.render(
	    	React.createElement(window.components.Header, {title: title}),
	    	document.getElementById("header")
	    );

		ReactDOM.render(
	    	React.createElement(window.components.Pagination, {menu: window.MENU_DATA}),
	    	document.getElementById("pagination")
	    );

	    window.setupSectionNav();
	    window.setupWidgets();
	    
	</script>
{% endblock %}