
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>USA</title>
    <link href="{{ theme.link }}/assets/css/usa.css" rel="stylesheet">
    <link rel="shortcut icon" href="http://www.usanetwork.com/sites/usanetwork/themes/aurora_usa/images/favicon.ico" />
  </head>
  <body>
    <div class="usa-bg"></div>
    <section>
      <div class="container">
        <a href="lifecycle/index.html" class="animsition-link">
          <div class="page-selector">
            <i class="discovery-lifecycle"></i>
            <div class="title">Lifecycle</div>
          </div>
        </a>
        <a href="requirements/index.html" class="animsition-link">
          <div class="page-selector">
            <i class="discovery-requirements"></i>
            <div class="title">Requirements</div>
          </div>
        </a>
        <a href="discovery/index.html" class="animsition-link">
          <div class="page-selector">
            <i class="discovery-discovery"></i>
            <div class="title">Discovery</div>
          </div>
        </a>
      </div>
    </section>
  </body>
</html>