


.comments-form {

	margin-left: 62px;

	input[type='text'], textarea {
		position: relative;
	    box-sizing: border-box;
	    width: 100%;
	    margin: 0 20px 20px 0;
	    padding: 10px;
	    border: none;
	    outline: none;
	    background: none;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	    font-size: 20px;
	    color: #FFF;
	    font-family: ApexNew_Book, sans-serif;
	    font-weight: 300;
	    @include placeholder {
	    	color: #AAA;
	    }

	}

	textarea {
		height: auto;
		min-height:100px;
		resize: vertical;
	}

	select {
		outline: none;
		background: none;
		border: none;
		color: #AAA;
		 font-size: 20px;
	}

	.button-container {
		margin-top: 20px;
		opacity: 1;
	}

	label {
		min-width: 100px;
		display: inline-block;
	}
}


.form-main {
	display: block;
    .form--submit-success & {
    	display: none;
    }
}

.form-success {
	display: none;
    .form--submit-success & {
    	display: block;
    }

    a {
    	color: #be0c36;
    }
}

.form-errors {
	display: none;
	margin: 20px 0px;
	color: #be0c36;
	.form--submit-error & {
    	display: block;
    }
}

.form-title {
	font-size: 24px;
    margin-bottom: 10px;
    color: #be0c36;
    text-transform: uppercase;
}


.form-loader {
	display: none;
	position: relative;
	height: 50px;
	width: 100%;
	.form--loading & {
		display: block;
	}
}

.button-container {
	display: block;
	.form--loading & {
		display: none;
	}
}




.form-wrapper {
	margin: 40px;
	max-width: 500px;
	div.ss-form-entry {

		> input, > textarea {

			position: relative;
		    box-sizing: border-box;
		    width: 100%;
		    margin: 0 20px 20px 0;
		    padding: 10px;
		    border: none;
		    outline: none;
		    background: none;
		    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		    font-size: 20px;
		    color: #FFF;
		    font-family: ApexNew_Book, sans-serif;
		    font-weight: 300;

		}

	}


	input[type='submit'] {
		background: #be0c36;
		padding: 7px 12px;
	    text-shadow: none;
	    border-radius: 1px;
	    text-transform: uppercase;
	    font-size: 12px;
	    position: absolute;
	    font-weight: 500;
	    color: #ffffff;
	    pointer-events: visible !important;
	    outline: none;
	    border: none;
	}	


	.freebirdFormviewerViewItemsItemItem {
		margin-bottom: 20px;
	}

	.ss-form-question {
		margin-bottom: 20px;
	}
}

