

.ticker {
	position: fixed;
	bottom: 0;
	left: 0;
	background: #16304b;
	color: #FFF;
	width: 100%;
	@include display(flex);
	@include justify-content(space-between);
  box-shadow: 0 -3px 3px rgba(0,0,0,0.3);
}

.ticker-wrapper,
.ticker-title {
	@include flex-grow(1);
	padding: 10px;
	color: #FFF;
	height: 35px;
}

.ticker-title {
	max-width: 170px;
	background: #2e455d;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	font-weight: 600;
}


.ticker-inner {

	position: relative;
	overflow: hidden;
	width: 100%;
	height: 35px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
	> * {
		white-space: nowrap;
		position: absolute;
		left: 0;
		color: #ffcf6f;
		top: -999em;


	}
}
